# 2. 조건문

In [5]:
import random
score = random.randint(40,100)
if score >= 80:
    print(f'{score}점은 합격입니다.')
else:
    print(f'{score}점은 불합격입니다.')

80점은 합격입니다.

In [20]:
age = random.randint(1,100)
if age >= 65:
    fare = 0
elif age <= 19:
    fare = 500
else:
    fare = 1000
age, fare

(16, 500)

In [22]:
x = random.randint(1,10)
print(x, end=', ')
if x % 2 == 0:
    print('짝수')
else:
    print('홀수')

9, 홀수

In [23]:
x = random.randint(1,10)
if x % 2 == 0:
    y = '짝수'
else:
    y = '홀수'
print(x, y, sep=', ')

8, 짝수

In [24]:
x = random.randint(1,10)
y = '짝수' if x % 2 == 0 else '홀수'    # 3항 연산자
print(x, y, sep=', ')

5, 홀수

### FizzBuzz
- 3의 배수면 Fizz, 5의 배수면 Buzz, 15의 배수면 FizzBuzz, 아니면 숫자를 출력

In [32]:
n = random.randint(1,100)
print(n, end=', ')
if n % 15 == 0:
    print('FizzBuzz')
elif n % 3 == 0:
    print('Fizz')
elif n % 5 == 0:
    print('Buzz')
else:
    print(n)

33, Fizz

In [36]:
number = 4
print('Fizz'*(number%3==0) + 'Buzz'*(number%5==0) or number)

4

In [ ]:
'Fizz' * True       # True - 1, False - 0 으로 정수형 변환이 자동으로 이루어짐

In [43]:
s = ''          # 문자열이 None 또는 ''이면 조건식에서는 False
if s:
    print('Not null')
else:
    print('Null')

Not null