# 3. 반복문

### for 반복문

In [1]:
sum_of_number = 0
for i in range(1,11):   # 시작값, 끝값+1
    sum_of_number += i
sum_of_number

55

In [2]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [3]:
# sum() 이라는 내장 함수가 있음
sum(list(range(1,11)))

55

In [4]:
for i in range(1, 10, 2):
    print(i)

1
3
5
7
9

In [5]:
for i in range(10, 1, -2):
    print(i)

10
8
6
4
2

In [7]:
product = 1
for i in range(1,11):
    product *= i
print(product)

3628800

In [8]:
for fruit in ['apple','banana','cherry']:
    print(fruit)

apple
banana
cherry

In [9]:
for c in 'alphabet':
    print(c)

a
l
p
h
a
b
e
t

### 반복문에서 사용 가능한 객체 - Sequence 객체
- range()
- 문자열
- 리스트
- 튜플

In [11]:
d = {'name':'홍길동', 'age':30, '성별':'남'}
for item in d.keys():       # d는 d.keys()를 의미
    print(item)

name
age
성별

In [12]:
for key, value in d.items():
    print(key, value)

name 홍길동
age 30
성별 남

### while 반복문

In [14]:
sum_of_num = 0
i = 1
while i <= 10:
    sum_of_num += i
    i = i + 1
print(sum_of_num)

55

In [16]:
sum_of_num = 0
i = 1
while True:
    sum_of_num += i
    i += 1
    if i > 10:
        break
print(sum_of_num)

55

### 중첩(Nested) 반복문

In [18]:
# 구구단
print('='*30)
for i in range(2, 10):
    for k in range(1, 10):
        print(f'{i} * {k} = {i*k}')
    print('='*30)

==============================
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
==============================
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
==============================
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
==============================
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
==============================
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
==============================
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
==============================
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
==============================
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
==============================

In [19]:
# 별모양 그리기
for i in range(1, 6):
    for k in range(i):
        print('*', end='')
    print()

*
**
***
****
*****

In [20]:
for i in range(5):
    for k in range(i+1):
        print('*', end='')
    print()

*
**
***
****
*****

In [21]:
for i in range(5,0,-1):
    for k in range(i):
        print('*', end='')
    print()

*****
****
***
**
*

In [22]:
for i in range(5):
    for k in range(5-i):
        print('*', end='')
    print()

*****
****
***
**
*

### 피타고라스 수

In [24]:
for a in range(1,333):
    for b in range(a+1,500):
        c = 1000 - a - b
        if c**2 == a**2 + b**2:
            print(a, b, c, sep=', ')
            break

200, 375, 425