# 6. 함수(Function)

### 함수 정의와 호출

In [1]:
def hello():
    print('안녕하세요?')

In [2]:
hello()

안녕하세요?

### 파이썬 내장함수

In [3]:
abs(-3.4)

3.4

In [4]:
type(5)

int

### 매개 변수(Parameter, Argument)

In [8]:
def even_odd(num):
    if num % 2 == 0:
        print(f'{num} 은/는 짝수입니다.')
    else:
        print(f'{num} 은/는 홀수입니다.')

In [9]:
even_odd(3)

3 은/는 홀수입니다.

In [10]:
even_odd(4)

4 은/는 짝수입니다.

In [11]:
# 위치 인수, 가변 위치 인수, 키워드 인수, 가변 키워드 인수
print(1, 2, 3, 4, 5, 6, sep='\t')

1	2	3	4	5	6

### 함수값의 반환

In [18]:
import math
def circle_area(radius):
    area = math.pi * radius * radius    # radius ** 2
    return round(area, 5)

In [19]:
area = circle_area(10)
area

314.15927

In [22]:
# 여러개의 값을 반환
def circle_info(r):
    area = math.pi * r * r 
    circum = 2 * math.pi * r 
    return round(area,2), round(circum,2)         # tuple 형태로 반환

In [23]:
area, circum = circle_info(10)
area, circum

(314.16, 62.83)

### 익명 함수(lambda 함수)

In [24]:
x = lambda a: a**3      # 세제곱을 구해주는 함수

In [25]:
x(5)

125

In [26]:
def x(a):
    return a**3

- 1에서 10까지 홀수 제곱의 리스트 만들기

In [30]:
square_odd_list = []
for i in range(1,11,2):
    square_odd_list.append(i*i)
square_odd_list

[1, 9, 25, 49, 81]

In [28]:
odd_list = list(range(1, 11, 2))
square_odd_list = list(map(lambda r: r*r, odd_list))
square_odd_list

[1, 9, 25, 49, 81]

In [29]:
square_odd_list = [i*i for i in range(1,11,2)]
square_odd_list

[1, 9, 25, 49, 81]

### 재귀 호출(Recursive Call)

In [31]:
def factorial(n):
    if n == 0:
        return 1
    return n * factorial(n-1)

In [32]:
factorial(10)

3628800

In [33]:
def fibo(n):
    if n == 0 or n == 1:
        return 1
    return fibo(n-1) + fibo(n-2)

In [34]:
for i in range(10):
    print(fibo(i))

1
1
2
3
5
8
13
21
34
55

### Scope rule
- 지역 변수(Local variable)
- 전역 변수(Global variable)

In [37]:
s, t = 10, 10           # global
def scope():
    s = 5               # local
    print(s, t)         # t 변수는 사용하지 않도록 프로그래밍 할 것

scope()
print(s, t)

5 10
10 10

### 연습문제
- Palindrome : 53435, madam, 소주 만병만 주소
- 3자리 수 x, y를 곱해서 만든 수 중에서
- 가장 값이 큰 팔린드롬수와 그때의 x, y를 구하세요.

In [38]:
def is_palindrome(s):
    return s == s[::-1]

In [42]:
is_palindrome('534435')

True

In [44]:
max_pal, x, y = 0, 0, 0
for i in range(100, 1000):
    for k in range(i, 1000):
        num = i * k
        if is_palindrome(str(num)):
            if num > max_pal:
                max_pal, x, y = num, i, k
print(max_pal, x, y)

906609 913 993