# 9. 객체지향 프로그래밍

In [1]:
from sklearn.tree import DecisionTreeClassifier     # 클래스

In [2]:
dtc = DecisionTreeClassifier()          # 객체

### 계산기 클래스 생성

In [7]:
class Calculator:
    def __init__(self, x, y):
        self.x = x
        self.y = y
    def add(self):
        return self.x + self.y
    def subtract(self):
        return self.x - self.y
    def multiply(self):
        return self.x * self.y
    def divide(self):
        return self.x / self.y

In [8]:
calc = Calculator(10, 5)        # 객체 생성

In [9]:
calc.add()

15

In [10]:
calc.divide()

2.0

In [11]:
calc.x = 20
calc.y = 4
calc.divide()

5.0

### 데이터 분석에서의 사용 예

In [13]:
import numpy as np
import pandas as pd

series = pd.Series(np.arange(1,5), index=list('abcd'))
series

a    1
b    2
c    3
d    4
dtype: int64

In [14]:
df = pd.DataFrame(np.arange(16).reshape(4,4),
                  index=list('abcd'), columns=list('WXYZ'))
df

    W   X   Y   Z
a   0   1   2   3
b   4   5   6   7
c   8   9  10  11
d  12  13  14  15

In [15]:
df.isnull().sum()

W    0
X    0
Y    0
Z    0
dtype: int64

### Machine Learning에서의 사용 예

In [16]:
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

In [17]:
iris = load_iris()
X_train, X_test, y_train, y_test = train_test_split(
    iris.data, iris.target, stratify=iris.target, test_size=0.2
)

In [18]:
# 객체 생성
dtc = DecisionTreeClassifier()

In [19]:
# 모델(객체) 학습
dtc.fit(X_train, y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [20]:
# 예측
pred = dtc.predict(X_test)

In [21]:
# 평가
accuracy_score(y_test, pred)

0.9

In [22]:
from sklearn.svm import SVC

In [23]:
svc = SVC()
svc.fit(X_train, y_train)
pred = svc.predict(X_test)
accuracy_score(y_test, pred)

0.9333333333333333